<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Andrea Rossi">
		<title> Uber L'Aquila </title>
		
		<style>
			td { width:100px }
			table, th, td {
  				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<a href="index.html"><h1>Uber L'Aquila</h1></a>
		<hr>
		<h2>Riders</h2>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Status Day</th>
				<th>Live Position</th>
				<th>Routes</th>
			</tr>
			<tr>
				<td>
					10
				</td>
				<td>
					Alessandro
				</td>
				<td>
					Borghi
				</td>
				<td>
					UNAVAILABLE
				</td>
				<td>
					position
				</td>
				<td>
					<a href="routes.html"> View</a>
				</td>
			</tr>
			<tr>
				<td>
					11
				</td>
				<td>
					Pietro
				</td>
				<td>
					Di Francesco
				</td>
				<td>
					AVAILABLE
				</td>
				<td>
					position
				</td>
				<td>
					<a href="routes.html"> View</a>
				</td>
			</tr>
		</table>
	</body>
</html>