<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Andrea Rossi">
		<title> Uber L'Aquila </title>
		
		<style>
			td { width:100px }
			table, th, td {
  				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<a href="index.html"><h1>Uber L'Aquila</h1></a>
		<hr>
		<h2>Routes</h2>
		<table>
			<tr>
				<th>Id</th>
				<th>Start Address</th>
				<th>End Address</th>
				<th>Seats</th>
				<th>Date</th>
				<th>Customer</th>
				<th>Rider</th>
			</tr>
			<tr>
				<td>
					20
				</td>
				<td>
					Via Belisario 143, L'Aquila AQ
				</td>
				<td>
					Via Europa 10, L'Aquila AQ
				</td>
				<td>
					1
				</td>
				<td>
					4/2/2021
				</td>
				<td>
					<a id="1" href="customers.html">Mario Neri</a>
				</td>
				<td>
					<a id="11" href="riders.html">Pietro Di Francesco</a>
				</td>
			</tr>
			<tr>
				<td>
					21
				</td>
				<td>
					sa
				</td>
				<td>
					as
				</td>
				<td>
					2
				</td>
				<td>
					6/11/2020
				</td>
				<td>
					<a id="0" href="customers.html">Marco Rossi</a>
				</td>
				<td>
					<a id="10" href="riders.html">Alessandro Borghi</a>
				</td>
			</tr>
		</table>
	</body>
</html>