<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Uber L'Aquila</title>
  </head>
  <body>
  	<nav class="navbar navbar-light bg-light mb-3">
            <div class="container" style="justify-content: center;">
        	<a class="navbar-brand" href="index.html">MDE Project - Uber L'Aquila</a>
    	</div>
    </nav>
   <main class="container">
	<h1>Riders</h1>
	<br>
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Surname</th>
			<th>Status Day</th>
			<th>Live Position</th>
			<th>Routes</th>
		</tr>
			<tr>
				<td>10</td>
				<td>Abete</td>
				<td>Abete</td>
				<td>AVAILABLE</td>
				<td><a class="btn btn-primary btn-sm" href="routes.html"> Show</a></td>
				<td><a class="btn btn-primary btn-sm" href="routes.html"> Details</a></td>
			</tr>
			<tr>
				<td>11</td>
				<td>Fabio</td>
				<td>Macchia</td>
				<td>BUSY</td>
				<td><a class="btn btn-primary btn-sm" href="routes.html"> Show</a></td>
				<td><a class="btn btn-primary btn-sm" href="routes.html"> Details</a></td>
			</tr>
			<tr>
				<td>15</td>
				<td>Mario</td>
				<td>Borghi</td>
				<td>AVAILABLE</td>
				<td><a class="btn btn-primary btn-sm" href="routes.html"> Show</a></td>
				<td><a class="btn btn-primary btn-sm" href="routes.html"> Details</a></td>
			</tr>
	</table>
	<main>
  </body>
</html>