<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Uber L'Aquila</title>
  </head>
  <body>
  	<nav class="navbar navbar-light bg-light mb-3">
            <div class="container" style="justify-content: center;">
        	<a class="navbar-brand" href="index.html">MDE Project - Uber L'Aquila</a>
    	</div>
    </nav>
   <main class="container">
	<h2>Routes</h2>
	<br>
	<table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Start Address</th>
			<th>End Address</th>
			<th>Seats</th>
			<th>Date</th>
			<th>Customer</th>
			<th>Rider</th>
		</tr>
		<tr>
			<td>100</td>
			<td>Via Pretatti 60, AQ</td>
			<td>Via Roma 12, AQ</td>
			<td>1</td>
			<td>12-12-2021</td>
			<td><a class="btn btn-primary btn-sm" id="0" href="customers.html">Lorenzo Andreoli</a></td>
			<td><a class="btn btn-primary btn-sm" id="10" href="riders.html">Abete Abete</a></td>
		</tr>
		<tr>
			<td>101</td>
			<td>Via Empoli 200, AQ</td>
			<td>Via Cesena 12, AQ</td>
			<td>2</td>
			<td>10-03-2021</td>
			<td><a class="btn btn-primary btn-sm" id="0" href="customers.html">Lorenzo Andreoli</a></td>
			<td><a class="btn btn-primary btn-sm" id="11" href="riders.html">Fabio Macchia</a></td>
		</tr>
		<tr>
			<td>102</td>
			<td>Via Moro 12, AQ</td>
			<td>Via Beato 12, AQ</td>
			<td>3</td>
			<td>12-05-2021</td>
			<td><a class="btn btn-primary btn-sm" id="1" href="customers.html">Andrea Rossi</a></td>
			<td><a class="btn btn-primary btn-sm" id="15" href="riders.html">Mario Borghi</a></td>
		</tr>
		<tr>
			<td>104</td>
			<td>Via Nola 33, AQ</td>
			<td>Via Mosca 3, AQ</td>
			<td>3</td>
			<td>12-12-2021</td>
			<td><a class="btn btn-primary btn-sm" id="1" href="customers.html">Andrea Rossi</a></td>
			<td><a class="btn btn-primary btn-sm" id="10" href="riders.html">Abete Abete</a></td>
		</tr>
	</table>
	<main>
  </body>
</html>